{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}

<article class="card">
    <h3 class="'habla_text">{{ habla.author }} postou:</h3>
    <h2>{{habla.text}} </h2>
    <h3>{{ habla.post_date }} </h3>
    <h3>{{ habla.likes }} curtidas </h3>
    <section class ='habla_buttons'>
        <a style="background-color: blue;" class="habla_button" href="{% url 'hablas:create_comment' habla.id %}">Comentar</a>
    </section>
</article>

{% for comment in comment_list %}
    <article class="card">
        <h3>{{ comment.author }} comentou: </h3>
        <h2>{{comment.comment_text}}</h2>
        <h3>{{ comment.post_date }} </h3>
    </article>
    {% endfor %}
{% endblock content %}