{% extends 'base.html' %}

{% block content %}
<h2>Últimos Hablas</h2>
{%if habla_list %}
<section class="lista-de-cards">
    {% for habla in object_list %}
    <article class="card">
        <h1 class="'habla_text">{{ habla.author }} postou:</h1>
        <h2>{{habla.text}} </h2>
        <h1>{{ habla.post_date }} </h1>
        <h1>{{ habla.likes }} curtidas </h1>
        {%if habla.cattegory %}
        <a style="background-color: rgb(169, 169, 52);" 
            class="habla_button" href="{% url 'hablas:search_by_tag' habla.cattegory %}">
            #{{ habla.cattegory }}</a>
            {% endif %}
        <section class ='habla_buttons'>
            <a style="background-color: blue;" class="habla_button" href="{% url 'hablas:detail' habla.id %}">Ver mais</a>
            <a style="background-color: red;" class="habla_button" href="{% url 'hablas:delete' habla.id %}">Excluir</a>
            <a style="background-color:saddlebrown;" class="habla_button" href="{% url 'hablas:edit' habla.id %}">Editar</a>
            <a style="background-color: green;" class="habla_button" href="{% url 'hablas:like' habla.id %}">Curtir</a>
        </section>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum Habla.</p>
{% endif %}

{% endblock content %}