{% extends 'base.html' %}

{% block content %}
<h2>Últimos Hablas</h2>
{%if habla_list %}
<section class="lista-de-cards">
    {% for habla in habla_list %}
    <article class="card">
        <a href="{% url 'hablas:detail' habla.id %}">detail</a>
        <p class ='habla_text'>{{habla.text}}</p>
        <p>{{ habla.author }} </p>
        <p>{{ habla.post_date }} </p>
        <p>likes: {{ habla.likes }} </p>
        <a href="{% url 'hablas:delete' habla.id %}">Excluir</a>
        <a href="{% url 'hablas:edit' habla.id %}">Editar</a>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum filme.</p>
{% endif %}

{% endblock content %}