{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} | Habla!
    </title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <header id="cabecalho-principal">
        <a href="{% url 'hablas:index' %}"> <img src="{% static 'logo.svg' %}"> </a>
        <a class = "create_habla" href="{% url 'hablas:create' %}">Clique para Hablar</a>
        <form class='search_form'action="{% url 'hablas:search' %}">
            <h3>Buscar categorias</h3>
            <p>
                <input class="input_cattegory" type="text" name="query" id="id_query" />
            </p>
            <button class="search" type="submit">Buscar</button>
        </form>        
    </header>
    <main id="conteiner-principal">
        {% block content %}
        {% endblock content %}
    </main>
    <footer id="rodape-principal">
        <p>
            <small>Copyright 2023</small>
        </p>
    </footer>
</body>

</html>